body {
    background-image: url('GettyImages-530045185.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack items vertically */
}

.image-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw; /* Size relative to the viewport width */
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 30%; /* Button width relative to the container width */
    max-width: 200px; /* Maximum width */
    min-width: 100px; /* Minimum width */
}

.image-button:hover {
    background-color: #45a049;
}

