body {
    background-image: url('GettyImages-530045185.jpg');
    background-size: cover; /* This will ensure that the image covers the whole page */
    background-position: center; /* This will center the image on the page */
    background-repeat: no-repeat; /* This will make sure the image doesn't repeat */
}

.image-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Top and bottom padding of 15px, left and right padding of 32px */
    text-align: center; /* Center-aligned text */
    text-decoration: none; /* No underline on the text */
    display: inline-block; /* Inline-block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around buttons */
    cursor: pointer; /* Cursor changes to pointer on hover */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition duration for hover effect */
}

.image-button:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}
