body {
    background-image: url('GettyImages-530045185.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-button {
    background-color: black;
    color: white;
    padding: 1.5vh 2vw; /* Padding based on viewport height and width */
    font-size: 2vw; /* Font size relative to viewport width */
    margin: 2vh 0; /* Margin based on viewport height */
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 30vw; /* Width relative to viewport width */
    max-width: 300px; /* Maximum width */
    min-width: 150px; /* Minimum width */
    min-height: 5vh; /* Minimum height relative to viewport height */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.image-button:hover {
    background-color: white; /* Darker shade of black on hover */
}

